body {
    background: #151c26;
    font: arial 15pt normal;
}
header {
    color: white;
    text-align: center;
}
section {
    background: white;
    border-radius: 10px;
    text-align: left;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.301) ;
}
footer {
    color: white;
    text-align: center;
    font-style: italic;
}
div {
    align-items: center;
    padding: 8px;
}
#botao {
    height: 30px;
    width: 80px;
    transition: background 0.2s;
}

#botao:hover {
    border-radius: 5px;
    background: rgba(17, 11, 11, 0.774);
    border: 1.5px solid var(--text-color);
}