body {
    background: rgb(48, 48, 146);
}
header {
    text-align: center;
    color: white;
}
section {
   margin: auto;
   text-align: left;
   background: white;
   border-radius: 15px;
   width: 500px;
   height: 200px; 
   box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.301) ;
}
div {
    padding: 1px;
    padding-left: 10px;
}
footer {
    font: italic 10pt normal;
    color: rgb(255, 255, 255);
    text-align: center;
}